@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Dosis:wght@200..800&display=swap");

:root {
  --primary-color: #1c3d36;
  --secondary-color: #f9f9f4;
  --accent1-color: #7ba859;
  --accent2-color: #4a575a;

  --heading-font: "Bona Nova SC", serif;
  --paragraph-font: "Dosis", sans-serif;

  --nav-background-color: #f9f9f4;
  --nav-link-color: #7ba859;
  --nav-hover-link-color: #1c3d36;
  --nav-hover-background-color: #4a575a;

  --colored-font: #7ba859;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--colored-font);
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid var(--accent2-color);
  max-width: 800px;
}

.bold-text {
  font-weight: bold;
}

header img {
  margin: 0 0.25rem 0 1rem;
  width: 150px;
  height: auto;
}

nav {
  text-align: right;
}

.top-navigation {
  display: flex;
  list-style: none;
  margin-left: 40%;
}

.top-navigation li {
  flex: 1 1 100%;
  justify-content: center;
}

.top-navigation a {
  display: block;
  color: var(--nav-link-color);
  padding: 20px;
  text-align: center;
  font-size: large;
}

.top-navigation a:hover {
  color: var(--nav-hover-link-color);
  font-weight: 600;
}

div.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(28, 61, 54, 0.8);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.hero-phrase {
  position: absolute;
  top: 120px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: rgb(247, 217, 127);
}

div.hero article {
  position: absolute;
  top: 30%;
  left: auto;
  margin: 30px;
  background-color: rgba(28, 61, 54, 0.8);
  color: var(--secondary-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 40%;
}

.hero article img {
  float: right;
  width: 220px;
  height: auto;
  margin: 20px;
}

p {
  padding: 0;
  margin: 20px;
  font-family: var(--paragraph-font);
}

.history-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.history-heading {
  text-align: center;
  font-size: xx-large;
}

.history-section img {
  width: auto;
  height: auto;
}

.sociallinks {
  text-decoration: none;
  padding-top: 20px;
}

a:link {
  text-decoration: none;
  color: var(--primary-color);
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--paragraph-font);
  justify-content: center;
  margin: 2rem;
}

.gallery-heading {
  text-align: center;
  font-size: xx-large;
}

.gallery img {
  width: 250px;
  height: auto;
}

.gallery figcaption {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: var(--accent1-color);
}

footer nav {
  grid-column-start: 5;
}

footer p {
  grid-column-start: 3;
}

.top-page-div {
  margin: 0 70px 0 70px;
  padding: 20px 90px 90px 90px;
  text-align: center;
  font-size: x-large;
}

.contact-boxes section {
  border: 1px solid var(--accent2-color);
  border-radius: 0.5rem;
  margin: 10px 20px 10px 20px;
}

.contact-boxes {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.contact-boxes h2 {
  text-align: center;
}

.contact-boxes button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.map-heading {
  text-align: center;
  margin: 40px 0 0 50px;
}

.map {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  font-size: large;
  text-align: center;
  margin: 70px;
}

.map .text-box {
  display: block;
  margin-top: 10%;
}

.map .img-box {
  display: block;
}

.team-heading {
  text-align: center;
  font-size: xx-large;
}

.team-photos {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.team-photos figure {
  margin: 0;
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: larger;
}

.team-photos img {
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--accent2-color);
  margin-bottom: 10px;
}

form {
  display: grid;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid var(--accent2-color);
  border-radius: 10px;
  background-color: #fff;
}

fieldset {
  font-family: var(--paragraph-font);
  display: grid;
  grid-gap: 0.6rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
}

legend {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  padding: 0.4rem;
  color: var(--font-color);
}

label {
  text-align: center;
  padding-right: 1rem;
}

input,
select,
textarea {
  font-size: 1rem;
  padding: 0.5rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.form-button {
  color: var(--primary-color);
  background-color: var(--accent1-color);
  border-radius: 0.5rem;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--accent2-color);
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  margin: 0.6rem 1rem;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}

.top-label {
  font-family: var(--heading-font);
  font-size: larger;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--primary-color);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
  font-family: var(--paragraph-font);
}

thead,
tfoot {
  background-color: var(--accent1-color);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
}

td:last-of-type {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: var(--secondary-color);
}
